.grid-container {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;

    @for $size from 2 through 4 {
        padding: percentage(.04 / $size);

        &.size-#{$size} {
            .grid-cell {
                margin: percentage(.04 / $size);
                width: percentage(.92 / $size);
                height: percentage(.92 / $size);
            }
        }
    }

    .grid-cell {
        border-radius: $tile-border-radius;
        background: rgba($tile-color, .35);
    }
}
