.game-message {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($tile-color, .5);
    z-index: 100;

    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    font-family: Tahoma, Arial;

    animation: fade-in $transition-speed * 3 ease $transition-speed * 5;
    animation-fill-mode: both;

    &.game-won {
        background: rgba($tile-gold-color, .5);
        color: $bright-text-color;
    }
    &.game-over {
        background: rgba(139, 140, 162, 0.75);
        color: #3c0061;
    }

    &.game-won, &.game-over {
        display: block;
    }

    span {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -0.5em;
        line-height: 1em;
        width: 100%;
        text-align: center;
    }
}
