.tile-container {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    @for $size from 2 through 4 {
        &.size-#{$size} {
            .tile-wrap {
                width: percentage(.92 / $size);
                height: percentage(.92 / $size);
            }
        }
    }

    .tile-wrap {
        position: absolute;

        transition: all $transition-speed ease-in-out;
        -webkit-transition: all $transition-speed ease-in-out;
        -moz-transition: all $transition-speed ease-in-out;
        -ms-transition: all $transition-speed ease-in-out;
    }
    .tile {
        border-radius: $tile-border-radius;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        color: #222222;

        @for $exponent from 1 through 16 {
            $power: power(2, $exponent);
            &.tile-#{$power} {
                $nth-color: nth($tile-colors, $exponent);
                $bg-color: nth($nth-color, 1);
                $fg-color: nth($nth-color, 2);

                background: linear-gradient(to top, lighten($bg-color, 10%) 0%, darken(nth($bg-color, 1), 10%) 100%);
                color: $fg-color;
                @if $power < 100 {
                    font-size: 4.5em;
                } @else if $power >= 100 and $power < 1000 {
                    font-size: 3.75em;
                } @else if $power >= 1000 {
                    font-size: 2.5em;
                }
            }
        }

        .tile-inner {
            text-align: center;
            font-weight: bold;

            position: absolute;
            top: 50%;
            margin-top: -0.5em;
            width: 100%;
            height: 1em;
            line-height: 1em;
        }

        &.tile-new {
            z-index: 20;
            animation: appear $transition-speed ease $transition-speed;
            animation-fill-mode: backwards;
        }
        &.tile-merged {
            z-index: 20;
            animation: pop $transition-speed ease $transition-speed;
            animation-fill-mode: backwards;
        }
        &.tile-merging {
            opacity: 0;
            animation: disappear $transition-speed ease $transition-speed;
            animation-fill-mode: backwards;
        }
    }
}
